<div class='video'>
  <div class='video_embed'>
  <%= div_for(video, :width => 280, :height => 231, :class => 'videobox small', :link => video.youtube_id) do %>
  <% end %>
  </div>

  <div class="video_title">
  </div>
</div>
