.flash_notice {
  border: 2px solid #00BF30;
  background: #7fff9f;
  color: #000;

  margin-bottom: 20px;
  padding: 7px 7px 12px;
  padding: 8px 8px 8px 30px;
  width: 90%;
}

.flash_alert {
  border: 2px solid #DF0A00;
  background: #c40700;
  color: #fff;

  margin-bottom: 20px;
  padding: 7px 7px 12px;
  padding: 8px 8px 8px 30px;
  width: 90%;
}

