body {
  background: #fff;
}

#more_channels {
  color: #999;
  font-family: Georgia,"Times New Roman",Times,serif;
  font-size: 30px;
  .highlight {
    border-bottom: 1px dotted #BBBBBB;
    font-size: 35px;
  }
}

