development:
  adapter: mysql
  database: hamarawebtv_development
  username: root
  password:

test:
  adapter: mysql
  database: hamarawebtv_test
  username: root
  password:

production:
  adapter: mysql
  database: hamarawebtv_test
  username: root
  password:

