<style>
  .ui-icon
  {
    display: inline-block !important;
    cursor: pointer;
  }
</style>
<div id="videoDiv">
  <div id="playing">
  </div>
</div>

<div id="playlistWrapper">
  <div class="pauseButton" id="buttonControl">
    <a href="javascript:void(0);">&nbsp;</a>
  </div>
  <div id="playlist">
  </div>
</div>
