<ul>
  <% @shows.each do |show| %>
    <li>
      <%= image_tag url_for(:controller => "shows", :action => "image", :id => show.id) %>
      <td><%= link_to show.name, edit_show_path(show) %></td>
    </li>
  <% end %>
</ul>

<%= will_paginate @shows %>
<br />
<%= button_to 'New Show', new_show_path, :method => :get %>
