<footer class="clear">
  <section class="col">
    <h4>Email</h4>
    <span class="hello">
      <a href="mailto:digital55@gmail.com">digital55@gmail.com</a>
    </span>
  </section><!-- end of col -->

  <section class="col">
    <h4>Twitter</h4>
    <a href="http://www.twitter.com/digital55">@digital55</a>
  </section><!-- end of col -->

  <section class="col">
    <h4>Feeds</h4>
    <a href="http://feeds.feedburner.com/digital55">All Posts</a>
  </section><!-- end of col -->

  <section class="col">
    <h4></h4>
  </section><!-- end of col -->

  <section class="col">
    <h4></h4>
    <a href="http://www.EventsInIndia.com">Twitter</a>
    <a href="http://www.99teams.com">india56@gmail.com</a>
  </section><!-- end of col -->

  <!--
  <p class="copy">&copy; 2011 digital55</p>
  -->
</footer>
