<html>
  <head>
	  <title>digital55</title>
	  <meta content="text/html; charset=iso-8859-1" http-equiv="Content-Type" />
  </head>

  <body marginheight="0" topmargin="0" marginwidth="0" bgcolor="#c5c5c5" leftmargin="0" style="background-color:#e5e5e5;">

    <div style='padding:20px;font-size:15px;'>
      <%= yield %>

      <p>
        &nbsp;
      </p>
      <p>
        <%= link_to '99teams', 'http://digital55.com', :style => 'color:gray;' %>
        |
        <%= link_to 'Help', 'http://digital55.com/help', :style => 'color:gray;' %> <br />
      </p>
    </div>

    <p>[[tracking_beacon]]</p>
 </body>
</html>

